{% extends "layout.html" %}

{% block title %} Links {% endblock %}

{% block content %}
  <h1>Links posted on {{date.strftime('%Y-%m-%d')}}</h1>

  {% if previous %}
    <a class="pagination previous" href="{{url_for('show_links', days=previous)}}"> < </a>
  {% endif %}

  {% if next %}
    <a class="pagination next" href="{{url_for('show_links', days=next)}}">  > </a>
  {% endif %}


  {% for link in links %}
    <div>
      <div>
        <span><a href="{{ link.url }}">{{ link.title }}</a><span> by @{{link.user}} in #{{link.channel}} at {{link.timestamp}}
      </div>
      <div>
        <small>{{link.message}}</small>
      </div>
    </div>
    <hr/>
    <br/>
    <br/>
  {% endfor %}
{% endblock %}
