{% extends "layout.html" %}

{% block title %} Welcome {% endblock %}

{% block content %}
  <h1>Welcome to Park!</h1>

  <p>This is our home on the web.</p>

  <p>
      We host a couple of services here, right now.
      <ul>
          <li>
              Our <a href="{{url_for('show_links')}}"> link aggregation service</a>.

              We also have a bookmarklet to stumble to a random link we
              aggregated. Drag and drop it to your bookmarks bar!

              <p>
                  <a style="border: 1px dashed;"
                     href="javascript:void(document.location.href='https://park.muse-amuse.in/random_link/')">
                      park-stumble
                  </a>
              </p>

              <p>
                  <a style="border: 1px dashed;"
                     href="javascript:void(open('https://park.muse-amuse.in/random_link/'));">
                      park-stumble
                  </a> (opens in new tab)
              </p>

          </li>

          <li>
              A simple <a href="{{url_for('show_stats')}}">stats</a> page.
          </li>
  </p>

  <p>
    In future, we hope to have a lot more going on here!
  </p>
{% endblock %}
