{% extends "layout.html" %}

{% block title %}Usage Stats{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/stats.css')}}" />
{% endblock %}

{% block extra_js %}
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/stats.js')}}"></script>
{% endblock %}

{% block content %}
  <h1>Stats for Park</h1>

  <div class="activity-chart">
    <div class="loader">Loading...</div>
  </div>
{% endblock %}
